<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NastyMod_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NastyMod_v2.Properties.Settings>
            <setting name="PlayerInfiniteHealth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerInfiniteEnergy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerInfiniteStamina" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerNeverWanted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerMoveSpeedMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayerCrouchSpeedMultiplier" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="PlayerJumpMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorldNpcEsp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldPlayerEsp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldEspRange" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WorldTime" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="WorldTimeScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpawnerSelectedCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="SpawnerItemAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MiscUseStackSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscStackSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MiscUseDealSuccessChance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscDealSuccessChance" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="MiscUseTrashGrabberCapacity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscTrashGrabberCapacity" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="MiscUsePlantGrowSpeedMultiplier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscPlantGrowSpeedMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EmployeesSelectedProperty" serializeAs="String">
                <value />
            </setting>
            <setting name="TeleportSelectedCategory" serializeAs="String">
                <value />
            </setting>
        </NastyMod_v2.Properties.Settings>
    </userSettings>
</configuration>